[class*='col-']{
  float: left;
  padding: 0px 20px 20px 0px;
}

[class*='col-']:last-of-type{
  float: left;
  padding-right: 0px;
}

a{
  text-decoration: none;
}

*, *:after, *:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
