<h2>Authors</h2>
<ul class="authors">
  <li *ngFor="let author of authors">
    <a routerLink="/authordetails/{{author.num}}">
      <span class="badge">{{author.num}}</span> {{author.name}}
    </a>
  </li>
</ul>
<div *ngIf="author">
  <h2>Information on {{author.name | uppercase}}</h2>
  <div><span>Num: </span> {{author.num}}</div>
  <div>
    <label>
      Name:
      <input [(ngModel)]="author.name" placeholder="name">
    </label>
  </div>
  <div>
    <label>
      Email:
      <input [(ngModel)]="author.email" placeholder="email">
    </label>
  </div>
</div>
